@{
    ViewBag.Title = "About";
}

<div class="row center-block text-center">
    <div class="col-sm-12">
        <h3>Microsoft Azure Services demo</h3>
        <h4>This sample app demonstrates how to use multiple PaaS services to quickly build and deploy cloud solution.</h4>
        <br/>
    </div>
</div>
<div class="row center-block text-center">
    <div class="col-sm-5 about-block">
        <h3 class="primary-text">Microsoft Azure DocumentDB</h3>
        <h4 class="secondary-text">Fast and scalable, globally-distributed NoSQL database service apps with global reach.</h4>
        <a href="https://azure.microsoft.com/en-us/services/documentdb/" class="btn btn-primary">More info</a>
    </div>
    <div class="col-sm-offset-2"></div>
    <div class="col-sm-5 about-block">
        <h3 class="primary-text">Microsoft Azure Cognitive Services</h3>
        <h4 class="secondary-text">Build powerful intelligence into your applications to enable natural and contextual interactions.</h4>
        <a href="https://azure.microsoft.com/en-us/services/cognitive-services/" class="btn btn-primary">More info</a>
    </div>

    <div class="col-sm-5 about-block">
        <h3 class="primary-text">Microsoft Azure Blob storage</h3>
        <h4 class="secondary-text">Massively-scalable object storage for unstructured data.</h4>
        <a href="https://azure.microsoft.com/en-us/services/storage/blobs/" class="btn btn-primary">More info</a>
    </div>
    <div class="col-sm-offset-2"></div>
    <div class="col-sm-5 about-block">
        <h3 class="primary-text">Microsoft Azure Storage</h3>
        <h4 class="secondary-text">Offload the heavy lifting of datacenter management</h4>
        <a href="https://azure.microsoft.com/en-us/services/storage/" class="btn btn-primary">More info</a>
    </div>

    <div class="col-sm-5 about-block">
        <h3 class="primary-text">Microsoft Azure App Service</h3>
        <h4 class="secondary-text">Quickly create powerful cloud apps for web and mobile clients
            Develop powerful applications for any platform or device, faster than ever before. Meet rigorous performance, scalability, security, and compliance requirements using a single back-end.</h4>
        <a href="https://azure.microsoft.com/en-us/services/app-service/" class="btn btn-primary">More info</a>
    </div>
    <div class="col-sm-offset-2"></div>
    <div class="col-sm-5 about-block">
        <h3 class="primary-text">Microsoft Azure Azure Active Directory B2C</h3>
        <h4 class="secondary-text">Consumer identity and access management in the cloud.</h4>
        <a href="https://azure.microsoft.com/en-us/services/active-directory-b2c/" class="btn btn-primary">More info</a>
    </div>
</div>

    
