@{
    ViewBag.Title = "Contact";
}
<div class="row center-block text-center">
    <div class="col-sm-12">
        <h2>Contact</h2>
        <h4>Mateusz Dudek</h4>
        <h4><a href="https://github.com/mateudu">GitHub</a></h4>
    </div>
</div>  