<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="storage:connectionstring" value="DefaultEndpointsProtocol=https;AccountName={ACCOUNT_NAME_HERE};AccountKey={ACCOUNT_KEY_HERE};EndpointSuffix=core.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="storage:photocontainer" value="photos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="storage:thumbnailcontainer" value="thumbnails" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="vision:key" value="VISION_KEY" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="vision:rootUrl" value="https://westeurope.api.cognitive.microsoft.com/vision/v1.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:Tenant" value="{TENANT_NAME_HERE}.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:ClientId" value="{CLIENT_ID_HERE}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:AadInstance" value="https://login.microsoftonline.com/{0}/v2.0/.well-known/openid-configuration?p={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:SignUpSignInPolicyId" value="B2C_1_B2C_SignUp_SignIn_Policy1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="b2c:RedirectUri" value="http://localhost:20157/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="documentdb:host" value="https://{DOCUMENT_DB_ENDPOINT_HERE}.documents.azure.com:443/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="documentdb:key" value="{DOCUMENT_DB_KEY_HERE}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="documentdb:dbname" value="smartgallerydb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="documentdb:commentcollection" value="comments" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
